<div class="wrapper">
  <app-header></app-header>
  <div class="container">
    <section class="main">
      <div class="main__container">
        <div class="main__body">
          <h1>Самая вкусная пицца в мире <span>только в Pizza Cheff</span></h1>
          <div class="main__description">
            <div class="main__description_item">
              <img src="./assets/img/millet.png" alt="millet">
              <div class="main__description_content">
                <div class="main__description_title">
                  Лучшее тесто
                </div>
                <div class="main__description_text">
                  Мы создаем тесто только из отборной итальянской муки наивысшег
                </div>
              </div>
            </div>
            <div class="main__description_item">
              <img src="./assets/img/kitchen-pack.png" alt="kitchen-pack">
              <div class="main__description_content">
                <div class="main__description_title">
                  лучшие повара
                </div>
                <div class="main__description_text">
                  Пиццы готовят самые профессиональные итальянские повара
                </div>
              </div>
            </div>
            <div class="main__description_item">
              <img src="./assets/img/quality-assurance.png" alt="quality-assurance">
              <div class="main__description_content">
                <div class="main__description_title">
                  гарантия качества
                </div>
                <div class="main__description_text">
                  Наша пиццерия получила множество наград и признаний по всему миру
                </div>
              </div>
            </div>
            <div class="main__description_item">
              <img src="./assets/img/recipes.png" alt="recipes">
              <div class="main__description_content">
                <div class="main__description_title">
                  отборные рецепты
                </div>
                <div class="main__description_text">
                  Мы используем рецепты от мировых лидеров в изготовлении пиццы
                </div>
              </div>
            </div>
          </div>
          <div class="btn">
            Выбрать пиццу
          </div>
        </div>
        <div class="main__image">
          <img src="assets/img/main_pizza.png" alt="pizza">
        </div>
      </div>
    </section>
  </div>
</div>

