@import "color";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$font-family: 'Roboto', sans-serif;
@mixin font($font_size:16px, $line_height:20px, $font_weight:400,  $font_color: $content_clr) {
  font-size: $font_size;
  line-height: $line_height;
  font-family: $font_family;
  font-weight: $font_weight;
  color: $content_clr;
}
