@import "./font";
@import "./color";

//
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

html {
  min-width: 320px
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

////////////////////
.body-overlay {
  position: relative;
  overflow: hidden;
  height: 100%;

  &:after {
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9;
  }
}

h1 {
  @include font(45px, 55px, 700, $content_clr);

  span {
    color: $content_clr_2;
  }

}

h2 {
  @include font(35px, 35px, 700, $content_clr);
}

.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 23px 53px;
  background: $content_clr_2;
  @include font(16px, 16px, 700, $content_clr_3);
  width: max-content;
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.02);
  }
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1242px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  height: 102px;
  box-shadow: 0 1px 11px -2px $gray_clr;

  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.burger__open {
  display: none;
}

.menu {
  width: 100%;
  position: relative;
}


.navigation {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  .navigation__container {
    display: flex;

    .navigation__item {
      cursor: pointer;
      white-space: nowrap;
      padding: 25px;
      @include font(16px, 16px, 400, $content_clr);
    }
  }
}

.main {
  .main__container {
    display: flex;
    align-items: center;
    padding: 131px 0 159px 0;

    .main__body {
      margin-right: 62px;

      h1 {
        margin-bottom: 62px;
      }

      .main__description {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .main__description_item {
          display: flex;
          margin-bottom: 43px;
          width: calc(50% - 24px);
          min-width: 248px;

          img {
            width: 60px;
            height: 60px;
            margin-right: 17px;
          }

          .main__description_content {
            .main__description_title {
              margin-bottom: 9px;
              text-transform: uppercase;
              @include font(16px, 16px, 700, $content_clr_2);
            }

            .main__description_text {
              @include font(16px, 16px, 400, $content_clr);
            }
          }
        }
      }
    }

    .main__image {
      width: calc(200px + 320 * ((100vw - 320px) / 1242));
      max-width: 520px;
      min-width: 200px;
      height: calc(200px + 142 * ((100vw - 320px) / 1242));
      max-height: 342px;
      min-height: 200px;
      flex-shrink: 0;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.product {
  display: flex;
  align-items: center;
  flex-direction: column;

  .product__container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -11px;
    margin-top: 58px;

    .product__item {
      width: calc(25% - 22px);
      margin: 11px;
      min-width: 284px;
      min-height: 356px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      padding: 15px 20px;
      box-shadow: 0 1px 11px -2px $gray_clr;

      img {
        cursor: pointer;
        width: 214px;
        height: 152px;
      }

      .product__description {
        margin: 15px 0;

        .product__item_title {
          margin-bottom: 13px;
          @include font(18px, 18px, 700, $content_clr_3);
        }

        .product__item_text {
          @include font(14px, 14px, 400, $content_clr_4);
        }
      }

      .btn {
        //margin-top: 16px;
        width: 100%;
      }
    }
  }
}

.image__container {
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;

  .image__container_close {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
  }

  .image__body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 992px) {

  .burger__open {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 8px;
    min-width: 40px;
    z-index: 100;

    span {
      transition: all 0.2s ease-in-out;
      position: relative;
      width: 20px;
      height: 100%;
      border-radius: 1px;

      &:before {
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        height: 2px;
        width: 20px;
        background: $content_clr;
        border-radius: 1px;
        transition: all 0.2s ease;
      }

      &:after {
        content: '';
        bottom: 0;
        left: 0;
        position: absolute;
        height: 2px;
        width: 20px;
        background: $content_clr;
        border-radius: 1px;
        transition: all 0.2s ease;
      }
    }
  }

  .burger__close {
    span {
      background: transparent;

      &:before {
        transform: rotate(45deg);
        top: 4px;
      }

      &:after {
        transform: rotate(-45deg);
        bottom: 2px;
      }
    }
  }

  .menu {
    position: absolute;
    top: -100%;
    left: 0;
    background: $primary_clr;
    width: 100%;
    padding: 15px;

    .navigation {
      justify-content: flex-start;

      .navigation__container {
        display: flex;
        flex-direction: column;

        .navigation__item {
          padding: 10px 0;
          width: 100%;
        }
      }
    }
  }


  .menu__open {
    display: flex;
    height: 100%;
    top: 102px;
    animation: move-from-left-to-right 0.5s;
    border-top: 1px solid $gray_clr;
  }

  .main {
    .main__container {
      flex-direction: column;

      .main__body {
        margin-bottom: 50px;
      }
    }
  }

}

@keyframes move-from-left-to-right {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}
